.human-heart {
    /* margin: 5em; */
    animation: 0.8s infinite beatHeart;
}

@keyframes beatHeart {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    40% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.patient-tracking-main-content {
    background-color: #042954;
    height: 100%;
    max-width: 220px;
    width: 220px;
    float: left;
    position: fixed;
    top: 0;
    bottom: 0;
}

.side-bar-item-container {
    border-bottom: 0.2px solid #1b3c59;
    width: 190px;
    margin: 0;
    color: #fff;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.side-bar-item-icon {
    position: absolute;
    right: 20px;
    align-items: center;
}

.heart-beating-container {
    height: 100%;
    flex: 0.3;
    /* border: 1px solid; */
    border-left: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ecg-canvas-container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.canvas-ruler {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid RGBA(128, 128, 128, 0.6);
    padding: 0px 10px;
    margin: 10px 0px;
}

.ecg-canvas {
    margin: 10px 0px;
    border-bottom: 1px solid RGBA(128, 128, 128, 0.6);
}

.content-area-patient-tracking-1 {
    flex: 0.55;
    margin-top: 20px;
    margin-bottom: 10px;

    background-color: #fff;
}

.content-area-patient-tracking-2 {
    flex: 0.45;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 15px;

    background-color: #fff;
}
